body {
    background-image: url("TreeGee_Desert_Image_1.jpg");
    background-color: #7a99c4;
}

.nav-blue {
    background-color: #0c3a79;
    padding: .50rem;
}

.cont-bg-blue {
    background-color: rgba(122, 153, 196, 0.75);
    color: #0c3a79;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.img-thumb-taller {
    margin-right: .5rem;
    background-color: #0c3a79;
    float: left;
}

.hr-bottom {
    height: 5px;
    background-color: #0c3a79;
}

.footer-blue {
    width: 100%;
    text-align: center;
    padding-bottom: .25rem;
    background-color: #7a99c4;
}